<div class="requests-new-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 requests-new-container">
                <h1 class="text-center text-white">新規リクエスト投稿</h1>
                <%= form_for @request do |f| %>
                    <div class="form-group">
                        <%= f.label :title, class: 'text-white' %>
                        <%= f.text_field :title, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :budget, class: 'text-white' %>
                        <%= f.text_field :budget, class: "form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :description, class: 'text-white' %>
                        <%= f.text_field :description, class: "form-control" %>
                    </div>

                    <%= f.submit "登録", class: 'btn btn-block btn-black' %>
                <% end %>
                <%= link_to '戻る', 'user_path', class: 'text-black' %>
            </div>
        </div>
    </div>
</div>